
.jumbotron {
    background: grey;

}
.jumbotron a {
    text-decoration: none;
}
.jumbotron h1 {
    color: white;
}
.jumbotron h1:hover {
    color: rgb(161, 161, 165);
}
.card-text {
    text-align: center;
    padding: 5px 0px;
    background: rgb(186, 231, 245);
}

.row a {
    color: darkgray;
}
.row a:hover {
    color: rgb(65, 62, 62);
}